<div class="sidebar">
    <div class="profile">
      <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
    </div>
    <div style="margin-top: 30px;">
    <a *ngIf="isadmin" href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i><span class="space">Add user</span></a>
    <a *ngIf="isadmin" href="/view"><i class="fa fa-user-plus" aria-hidden="true"></i><span class="space">View User</span></a>
    <a *ngIf="isadmin" href="/addtask"><i class="fa fa-fw fa-wrench"></i><span class="space">Assign tasks</span></a>
    <a *ngIf="isadmin" href="/viewtask"><i class="fa fa-fw fa-user"></i><span class="space">Tasks</span></a>
    <a *ngIf="isadmin" href="#contact"><i class="fa fa-fw fa-envelope"></i><span class="space">Completed</span></a>
    <a *ngIf="isadmin" href="#contact"><i class="fa fa-fw fa-envelope"></i><span class="space">Delayed</span></a>
    <a *ngIf="isuser" href="" ><i class="fa fa-sign-out" aria-hidden="true"></i><span class="space">view task</span></a>
    <a *ngIf="isadmin||isuser" href="/login" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="space">Logout</span></a>
    </div>
  </div>