<div class="card center shadow p-3 mb-5 bg-white rounded ">
    <h3 class="header">LOGIN</h3>
    <form [formGroup]="form"(submit)="onLoginForm()">
        <div class="form-group" [ngClass]="{'errorField' : form.get('username').errors && (form.get('username').touched || form.get('username').dirty)}">
          <label for="exampleInputEmail1">User Name</label>
          <input type="text" class="form-control" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter user name">
        </div>
        <span *ngIf="form.get('username').errors && (form.get('username').touched || form.get('username').dirty)">
          <span style="color:red;">*username is mandatory</span>
      </span>
        <div class="form-group" [ngClass]="{'errorField' : form.get('password').errors && (form.get('password').touched || form.get('password').dirty)}">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <span *ngIf="form.get('password').errors && (form.get('password').touched || form.get('password').dirty)">
          <span style="color:red;">*password is mandatory</span>
      </span>
        <button type="submit" >Submit</button>
      </form>
    </div>


