<app-navbar></app-navbar>
<div class="centre">
    <h1>User Details</h1>
</div>
<div class="centre">
        <tr>
            <th>S.NO</th>
            <th>Name</th>
            <th>User Name</th>
            <th>email</th>
            <th>ph num</th>
            <th>role</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <tr *ngFor="let user of userdetails;let i=index">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}} </td>
            <td>{{user.phonenum}}</td>
            <td>{{user.role}}</td>
            <td><button style="color: blue;" [routerLink]="['/edit',user._id]" >edit</button></td>
            <td><button style="color: red;" (click)="delete(user._id)" >delete</button></td>
        </tr>
        
</div>
