<app-navbar></app-navbar>
<div *ngIf="signupflag"  >
    <h3 class="header mt-5">New User Registeration</h3>
    <div class="center card shadow p-3 mb-5 bg-white rounded">
        <form [formGroup]="form"(submit)="onSignupForm()">
            <div >
                <div >
                    <label>Name</label>
                    <input type="text" name="name" formControlName="name" required>
                </div>

                <div >
                    <label for="cars">Choose a role:</label>
                    <select name="cars" id="cars" style="padding: 8px;" formControlName="role">
                        <option value="admin">Admin</option>
                        <option value="user">User</option> 
                    </select>
                </div>

                <div >
                    <label>Email</label>
                    <input type="email" name="email" formControlName="email" required>
                </div>

                <div >
                    <label>User Name</label>
                    <input type="text" name="username" formControlName="username" required>
                </div>

                <div >
                    <label>Phone Num</label>
                    <input type="tel" name="phno" formControlName="phonenum" required>
                </div>
                <div >
                    <label>Password</label>
                    <input type="password" name="password" formControlName="password" required>
                  </div>
           
            </div>
            <button  type="submit">Register</button>
        </form>
    </div>
</div>

<div *ngIf="changeflag" class="container" >
    <h3 class="header">Change Password</h3>
    <div class="center">
        <form #changeForm="ngForm" (submit)="onChangeForm(changeForm)">
            <div class="inlinestyle">
            <label>Old Password</label>
            <input type="password" name="old"  ngModel required >
            <label>New Password</label>
            <input type="password" name="new" ngModel required >
            </div>
            
            <button class="btn btn-primary" type="submit">Reset</button>
        </form>
    </div>
</div>

