.header
{
    text-align:center;
    /* margin-top: 50px; */
}
.center
{
  margin-top: 60px;
  margin-left: 600px;
  font-size: large;
  letter-spacing: 0.5px;
  line-height: 40px;
  width: 30%;
  padding: 30px;
  background-color: ghostwhite;
  color: rgb(43, 37, 37);
}

 
label,input,select
{
    width: 100%;
}
label,input,button
{
    line-height: 25px;
    display: flex;
    /* margin-top: 20px; */
    margin-top: 5px;
}
button
{
    margin-top: 25px;
    border-style: none;
    margin-left: 150px;
    width:25%;
    justify-content: center;
    height: 30px;
    border-radius: 15px;
    color: white;
    background-color:rgb(12, 209, 166);
}