.header
{
    text-align:center;
    /* margin-top: 50px; */
}
.center
{
  margin-top: 60px;
  margin-left: 600px;
  font-size: large;
  letter-spacing: 0.5px;
  line-height: 40px;
  width: 30%;
  padding: 30px;
  background-color: ghostwhite;
  color: rgb(43, 37, 37);
}

 
label,input,select
{
    width: 100%;
}
label,input,button
{
    line-height: 25px;
    display: flex;
    /* margin-top: 20px; */
    margin-top: 5px;
}
button
{
    margin-top: 25px;
    border-style: none;
    margin-left: 150px;
    width:25%;
    justify-content: center;
    height: 30px;
    border-radius: 15px;
    color: white;
    background-color:rgb(12, 209, 166);
}

.head
{
    text-align:center;
}
.cen 
{
    margin: 220px 650px;
    width: 30%;
    box-shadow: wheat;
    padding: 30px;
    background-color: ghostwhite;
    height: 40%;
}
.inlinestyle
{
    letter-spacing: 1px;
    font-size: large;
    width: 100%;
    line-height: 35px;
    font-size: large;
}
.btn
{
    background-color:rgb(12, 209, 166);
    margin-top: 45px;
    border-style: none;
    margin-left: 190px;
    border-radius: 15px;
    width: 20%;
    height: 17%;
    justify-content: center;
    font-size: large;
}

a{
    margin-left: 300px;
    font-size: x-large;
}